body {
    background-color: #858585;
}

table {
    width: 100%;
    border-radius: 10px;
    letter-spacing: 1px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    text-transform: uppercase;
    background-color: #333333;
    padding: 10px;
}

th, td {
    width: 12%;
}

td {
    padding: 10px;
    vertical-align: top;
}

.number {
    display: block;
    margin-bottom: 10px;
}

.calendar {
    background-color: #515151;
    height: 150px;
}

.pink {
    background-color: #ff9999;  
}

.purple {
    background-color: #debdff;
}

.blue {
    background-color: #85d6ff;
}

.green {
    background-color: #99ff99; 
}

.start {
    margin-right: -20px;
}

.single {
    text-align: center;
}

.middle {
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
}

.end {
    margin-left: -20px;
}

.event {
    color: #4c4c4c;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    height: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
}

.four-day {
    margin-right: -90px;
    text-align: right;
}

.two-day {
    margin-right: -45px;
    text-align: right;
}